pipeline/Full Extraer Tablas y Cargar Azure SQL_Con Excel.json
{
	"name": "Full Extraer Tablas y Cargar Azure SQL_Con Excel",
	"properties": {
		"activities": [
			{
				"name": "Lookup Tablas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						}
					},
					"dataset": {
						"referenceName": "ExcelTablas",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Carga Archivos ADL y Tablas Azure",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Tablas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tablas').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data Onpremise_ADL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM @{item().TABLE_SCHEMA}.@{item().TABLE_NAME}\n",
										"type": "Expression"
									},
									"queryTimeout": "01:59:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTableAdWorks",
									"type": "DatasetReference",
									"parameters": {
										"PEsquema": "INFORMATION_SCHEMA",
										"PTabla": "TABLES"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LoadADL",
									"type": "DatasetReference",
									"parameters": {
										"Carpeta": " BANCOW/FUENTE SQL",
										"Archivo": {
											"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data ADL_AzureSQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data Onpremise_ADL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": true,
										"dateTimeFormat": "yyyy-MM-dd"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "LoadADL",
									"type": "DatasetReference",
									"parameters": {
										"Carpeta": " BANCOW/FUENTE SQL",
										"Archivo": {
											"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTables",
									"type": "DatasetReference",
									"parameters": {
										"Pesquema": {
											"value": "@{item().TABLE_SCHEMA}",
											"type": "Expression"
										},
										"PTabla": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Migracion Banco W"
		},
		"annotations": []
	}
}