pipeline/Variable DFlow Columna Dinamica Part2.json
{
	"name": "Variable DFlow Columna Dinamica Part2",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "DFlow_Variables",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Set variable Fecha",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set variable Campo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflowVariableColumnaDinamica",
									"type": "DataFlowReference",
									"parameters": {
										"Campo": {
											"value": "'@{variables('CampoFecha')}'",
											"type": "Expression"
										},
										"Fecha": {
											"value": "'@{variables('VFecha')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"LecturaADL": {
											"Carpeta": {
												"value": "@pipeline().parameters.PCarpeta",
												"type": "Expression"
											},
											"Archivo": {
												"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
												"type": "Expression"
											}
										},
										"sink1": {
											"Pesquema": {
												"value": "@item().TABLE_SCHEMA",
												"type": "Expression"
											},
											"PTabla": {
												"value": "@item().TABLE_NAME",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						},
						{
							"name": "Set variable Fecha",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VFecha",
								"value": {
									"value": "@{item().FECHA}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable Campo",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CampoFecha",
								"value": {
									"value": "@{item().CAMPO_FILTRAR}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						}
					},
					"dataset": {
						"referenceName": "ExcelTablas_Fechas",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"PCarpeta": {
				"type": "string",
				"defaultValue": "BANCOW/FUENTE SQL"
			},
			"PArchivo": {
				"type": "string",
				"defaultValue": "ProductCategory.Parquet"
			},
			"PFecha": {
				"type": "string",
				"defaultValue": "2008-04-30 00:00:00"
			}
		},
		"variables": {
			"VFecha": {
				"type": "String",
				"defaultValue": "2008-04-30 00:00:00"
			},
			"CampoFecha": {
				"type": "String",
				"defaultValue": "ModifiedDate"
			}
		},
		"folder": {
			"name": "Migracion Banco W"
		},
		"annotations": []
	}
}