IntegrationsServices/PartialArmTemplates/ArmTemplate_9_3_2020_8_32_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "IntegrationsServices"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Cargar Azure SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Tablas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT  TOP 2 TABLE_SCHEMA,TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTableAdWorks",
								"type": "DatasetReference",
								"parameters": {
									"PEsquema": "INFORMATION_SCHEMA",
									"PTabla": "TABLES"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Carga Tablas Azure SQL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Tablas').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data ADL_AzureSQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": " BANCOW/FUENTE SQL",
												"Archivo": {
													"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTables",
											"type": "DatasetReference",
											"parameters": {
												"Pesquema": {
													"value": "@{item().TABLE_SCHEMA}",
													"type": "Expression"
												},
												"PTabla": {
													"value": "@{item().TABLE_NAME}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB2_ODBC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OdbcTable1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTables",
								"type": "DatasetReference",
								"parameters": {
									"Pesquema": "dbo",
									"PTabla": "DBB2"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OdbcTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXT_VPRODUCTOS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ObtenerMaxFecha",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT FECHA_MODIFICACION FROM Par.Control_Tabla WHERE NOMBRE_TABLA = '@{pipeline().parameters.Tabla}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable",
								"type": "DatasetReference",
								"parameters": {
									"Esquema": "Par",
									"Tabla": "Control_Tabla"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "TransactToADLH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ObtenerMaxFecha",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM @{pipeline().parameters.Esquema}.@{pipeline().parameters.Tabla} WHERE FECHA_MOVIMIENTO > '@{activity('ObtenerMaxFecha').output.firstRow.FECHA_MODIFICACION}'\n\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable",
								"type": "DatasetReference",
								"parameters": {
									"Esquema": {
										"value": "@pipeline().parameters.Esquema",
										"type": "Expression"
									},
									"Tabla": {
										"value": "@pipeline().parameters.Tabla",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": {
										"value": "@pipeline().parameters.CarpetaHADL",
										"type": "Expression"
									},
									"Archivo": {
										"value": "@Concat(pipeline().parameters.Archivo,'-',formatDateTime(addhours(utcnow(),-5),'yyyy-MM-dd-HH:mm:ss'),'.txt') ",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ObtenerMaxFechaFact",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "dflow_VProductos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(FECHA_MOVIMIENTO) FECHA_MODIFICACION\n  FROM [Fact].[VPRODUCTOS]\n  WHERE CONVERT(DATE,FECHA_EXTRACCION) = (SELECT CONVERT(DATE,DATEADD(HH, -5, GETDATE())))",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Fact_VPRODUCTOS",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "ActualizaFechaControl",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ObtenerMaxFechaFact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_Control_Hechos]",
							"storedProcedureParameters": {
								"Fecha": {
									"value": {
										"value": "@activity('ObtenerMaxFechaFact').output.firstRow.FECHA_MODIFICACION",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Tabla": {
									"value": {
										"value": "@pipeline().parameters.Tabla",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ADLHToADL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TransactToADLH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"wildcardFolderPath": {
										"value": "@{pipeline().parameters.CarpetaHADL}",
										"type": "Expression"
									},
									"wildcardFileName": "*.txt",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "LoadADLDynamic",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": {
										"value": "@pipeline().parameters.CarpetaADL",
										"type": "Expression"
									},
									"Archivo": {
										"value": "@Concat(pipeline().parameters.Archivo,'.txt') ",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "dflow_VProductos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ADLHToADL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dflow_VProductos",
								"type": "DataFlowReference",
								"datasetParameters": {
									"LecturaADL": {
										"Carpeta": {
											"value": "@pipeline().parameters.CarpetaADL",
											"type": "Expression"
										},
										"Archivo": {
											"value": "@Concat(pipeline().parameters.Archivo,'.txt') ",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"Esquema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"Tabla": {
						"type": "string",
						"defaultValue": "VPRODUCTOS"
					},
					"CarpetaADL": {
						"type": "string",
						"defaultValue": "BDBODYTECH/ARCHIVO_ACTUAL"
					},
					"CarpetaHADL": {
						"type": "string",
						"defaultValue": "BDBODYTECH/VPRODUCTOS"
					},
					"ARCHIVO": {
						"type": "string",
						"defaultValue": "VPRODUCTOS"
					}
				},
				"folder": {
					"name": "Hechos/Extracción"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer Tablas Controlado')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Tablas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"dataset": {
								"referenceName": "ExcelTablas",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Carga Archivos ADL y Tablas Azure",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Tablas').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data Onpremise_ADL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT top (1000) *\nFROM @{item().TABLE_SCHEMA}.@{item().TABLE_NAME}\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableAdWorks",
											"type": "DatasetReference",
											"parameters": {
												"PEsquema": "INFORMATION_SCHEMA",
												"PTabla": "TABLES"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": " BANCOW/FUENTE SQL",
												"Archivo": {
													"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data Onpremise_ADL",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT \n           '@{item().TABLE_SCHEMA}' AS ESQUEMA,\n           '@{item().TABLE_NAME}' AS TABLA\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableAdWorks",
											"type": "DatasetReference",
											"parameters": {
												"PEsquema": "INFORMATION_SCHEMA",
												"PTabla": "TABLES"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": " BANCOW/FUENTE SQL/SIN CARGAR",
												"Archivo": {
													"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer Tablas Controlado_DirectoToSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Tablas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"dataset": {
								"referenceName": "ExcelTablas",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Carga Archivos ADL y Tablas Azure",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Tablas').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data Onpremise_ADL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT *\nFROM @{item().TABLE_SCHEMA}.@{item().TABLE_NAME}\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableAdWorks",
											"type": "DatasetReference",
											"parameters": {
												"PEsquema": "INFORMATION_SCHEMA",
												"PTabla": "TABLES"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTables_DF",
											"type": "DatasetReference",
											"parameters": {
												"PTabla": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTables_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer Tablas_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data Onpremise_ADL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data CSV to Abd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": " BANCOW/FUENTE SQL",
									"Archivo": "SalesSalesTaxRate.Parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTables",
								"type": "DatasetReference",
								"parameters": {
									"Pesquema": "Sales",
									"PTabla": "SalesTaxRate"
								}
							}
						]
					},
					{
						"name": "Copy data CSV to Abd",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data TXT to Abd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ArchivoCSV",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTables",
								"type": "DatasetReference",
								"parameters": {
									"Pesquema": "Sales",
									"PTabla": "SalesTaxRate"
								}
							}
						]
					},
					{
						"name": "Copy data TXT to Abd",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTables",
								"type": "DatasetReference",
								"parameters": {
									"Pesquema": "Sales",
									"PTabla": "SalesTaxRate"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ArchivoCSV')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Full Extraer Tablas y Cargar Azure SQL_Con Excel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Tablas",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"dataset": {
								"referenceName": "ExcelTablas",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Carga Archivos ADL y Tablas Azure",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Tablas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Tablas').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data Onpremise_ADL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT *\nFROM @{item().TABLE_SCHEMA}.@{item().TABLE_NAME}\n",
												"type": "Expression"
											},
											"queryTimeout": "01:59:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 8,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableAdWorks",
											"type": "DatasetReference",
											"parameters": {
												"PEsquema": "INFORMATION_SCHEMA",
												"PTabla": "TABLES"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": " BANCOW/FUENTE SQL",
												"Archivo": {
													"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy data ADL_AzureSQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data Onpremise_ADL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": true,
												"dateTimeFormat": "yyyy-MM-dd"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": " BANCOW/FUENTE SQL",
												"Archivo": {
													"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTables",
											"type": "DatasetReference",
											"parameters": {
												"Pesquema": {
													"value": "@{item().TABLE_SCHEMA}",
													"type": "Expression"
												},
												"PTabla": {
													"value": "@{item().TABLE_NAME}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get Metadata Filter File with foreach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "LoadADLGetdata",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Parametros"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@startswith(item().name,'ProductCategory')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": "Parametros",
												"Archivo": {
													"value": "@{item().name}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": "Ejercicios",
												"Archivo": {
													"value": "@{item().name}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LoadADLGetdata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Log')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_ADFPipelineExecutions]",
							"storedProcedureParameters": {
								"AdfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"CantidadRegistros": {
									"value": {
										"value": "@activity('Lookup1').output.firstRow.total",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseBodega",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTableAdWorks",
								"type": "DatasetReference",
								"parameters": {
									"PEsquema": "Sales",
									"PTabla": "CreditCard"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Parametros",
									"Archivo": "CreditCard.Parquet"
								}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT COUNT(*)  total FROM\nSales.CreditCard",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTableAdWorks",
								"type": "DatasetReference",
								"parameters": {
									"PEsquema": "Sales",
									"PTabla": "CreditCard"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Recursivo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Parametros",
									"Archivo": "ProductCategory.Parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Ejercicios",
									"Archivo": "a.Parquet"
								}
							}
						]
					},
					{
						"name": "Copy data1_paso2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Parametros",
									"Archivo": "ProductCategory.Parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Ejercicios",
									"Archivo": "b.Parquet"
								}
							}
						]
					},
					{
						"name": "Copy data1_paso3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1_paso2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Parametros",
									"Archivo": "ProductCategory.Parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "LoadADL",
								"type": "DatasetReference",
								"parameters": {
									"Carpeta": "Ejercicios",
									"Archivo": "c.Parquet"
								}
							}
						]
					}
				],
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Variable Categoria Data Flow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DFlow_Variables",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowVariableCategoria",
								"type": "DataFlowReference",
								"parameters": {
									"Categoria": {
										"value": "'@{variables('VCategoria')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"LecturaADL": {
										"Carpeta": {
											"value": "@pipeline().parameters.PCarpeta",
											"type": "Expression"
										},
										"Archivo": {
											"value": "@pipeline().parameters.PArchivo",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"PCarpeta": {
						"type": "string",
						"defaultValue": "Parametros"
					},
					"PArchivo": {
						"type": "string",
						"defaultValue": "ProductCategory.Parquet"
					},
					"PCategoria": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"variables": {
					"VCategoria": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.PCategoria}"
					}
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowVariableCategoria')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Variable DFlow Columna Dinamica Part1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data Onpremise_ADL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT *\nFROM @{item().TABLE_SCHEMA}.@{item().TABLE_NAME}\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTableAdWorks",
											"type": "DatasetReference",
											"parameters": {
												"PEsquema": "INFORMATION_SCHEMA",
												"PTabla": "TABLES"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "LoadADL",
											"type": "DatasetReference",
											"parameters": {
												"Carpeta": " BANCOW/FUENTE SQL",
												"Archivo": {
													"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"dataset": {
								"referenceName": "ExcelTablas_Fechas",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"PCarpeta": {
						"type": "string",
						"defaultValue": "Parametros"
					},
					"PArchivo": {
						"type": "string",
						"defaultValue": "ProductCategory.Parquet"
					},
					"PFecha": {
						"type": "string",
						"defaultValue": "2008-04-30 00:00:00"
					}
				},
				"variables": {
					"VFecha": {
						"type": "String",
						"defaultValue": "2008-04-30 00:00:00"
					},
					"CampoFecha": {
						"type": "String",
						"defaultValue": "ModifiedDate"
					}
				},
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelTablas_Fechas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Variable DFlow Columna Dinamica Part2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "DFlow_Variables",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Set variable Fecha",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set variable Campo",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "dataflowVariableColumnaDinamica",
											"type": "DataFlowReference",
											"parameters": {
												"Campo": {
													"value": "'@{variables('CampoFecha')}'",
													"type": "Expression"
												},
												"Fecha": {
													"value": "'@{variables('VFecha')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {
													"Carpeta": {
														"value": "@pipeline().parameters.PCarpeta",
														"type": "Expression"
													},
													"Archivo": {
														"value": "@Concat(item().TABLE_SCHEMA,item().TABLE_NAME,'.Parquet')",
														"type": "Expression"
													}
												},
												"sink1": {
													"PTabla": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													}
												}
											}
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Set variable Fecha",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "VFecha",
										"value": {
											"value": "@{item().FECHA}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable Campo",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "CampoFecha",
										"value": {
											"value": "@{item().CAMPO_FILTRAR}",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"dataset": {
								"referenceName": "ExcelTablas_Fechas",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				],
				"parameters": {
					"PCarpeta": {
						"type": "string",
						"defaultValue": " BANCOW/FUENTE SQL"
					},
					"PArchivo": {
						"type": "string",
						"defaultValue": "ProductCategory.Parquet"
					},
					"PFecha": {
						"type": "string",
						"defaultValue": "2008-04-30 00:00:00"
					}
				},
				"variables": {
					"VFecha": {
						"type": "String",
						"defaultValue": "2008-04-30 00:00:00"
					},
					"CampoFecha": {
						"type": "String",
						"defaultValue": "ModifiedDate"
					}
				},
				"folder": {
					"name": "Migracion Banco W"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelTablas_Fechas')]",
				"[concat(variables('factoryId'), '/dataflows/dataflowVariableColumnaDinamica')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Variable Fecha Data Flow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DFlow_Variables",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowVariableFecha",
								"type": "DataFlowReference",
								"parameters": {
									"Fecha": {
										"value": "'@{variables('VFecha')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"LecturaADL": {
										"Carpeta": {
											"value": "@pipeline().parameters.PCarpeta",
											"type": "Expression"
										},
										"Archivo": {
											"value": "@pipeline().parameters.PArchivo",
											"type": "Expression"
										}
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"PCarpeta": {
						"type": "string",
						"defaultValue": "Parametros"
					},
					"PArchivo": {
						"type": "string",
						"defaultValue": "ProductCategory.Parquet"
					},
					"PFecha": {
						"type": "string",
						"defaultValue": "2008-04-30 00:00:00"
					}
				},
				"variables": {
					"VFecha": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.PFecha}"
					}
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowVariableFecha')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Variables Data Flow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Pv_setWithP_arrayElement",
							"value": "jeison"
						}
					},
					{
						"name": "Append variable1",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Pv_usedInAppend",
							"value": "it"
						}
					},
					{
						"name": "dataflow2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Append variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DFlow_Variables",
								"type": "DataFlowReference",
								"parameters": {
									"RecibeIntAsString": {
										"value": "'@{variables('PvConvertirToInt')}'",
										"type": "Expression"
									},
									"RecibeFloatAsString": {
										"value": "'@{variables('PvConvertirToFloat')}'",
										"type": "Expression"
									},
									"RecibeDateAsString": {
										"value": "'@{variables('Pv_S_Date')}'",
										"type": "Expression"
									},
									"RecibeArrayAsString": {
										"value": "'@{variables('Pv_usedInAppend')}'",
										"type": "Expression"
									},
									"RecibeArrayElementAsString": {
										"value": "'@{variables('Pv_setWithP_arrayElement')}'",
										"type": "Expression"
									},
									"RecibeBoolAsString": {
										"value": "'@{variables('Pv_Bool')}'",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"parameters": {
					"P_String": {
						"type": "string",
						"defaultValue": "jeison"
					},
					"P_Int": {
						"type": "int",
						"defaultValue": 1
					},
					"P_Float": {
						"type": "float",
						"defaultValue": 1.1
					},
					"P_Bool": {
						"type": "bool",
						"defaultValue": true
					},
					"P_Array": {
						"type": "array",
						"defaultValue": [
							"ram"
						]
					},
					"P_S_Date": {
						"type": "string",
						"defaultValue": "2020-07-22"
					}
				},
				"variables": {
					"Pv_usedInAppend": {
						"type": "Array",
						"defaultValue": [
							"ram"
						]
					},
					"Pv_setWithP_arrayElement": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.P_Array[0]"
					},
					"Pv_setWitP_String": {
						"type": "String",
						"defaultValue": "@pipeline().parameters.P_String"
					},
					"PvConvertirToInt": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.P_Int}"
					},
					"PvConvertirToFloat": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.P_Float}"
					},
					"Pv_S_Date": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.P_S_Date}"
					},
					"Pv_Bool": {
						"type": "String",
						"defaultValue": "@{pipeline().parameters.P_Bool}"
					}
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DFlow_Variables')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ArchivoCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesTaxRate.csv",
						"folderPath": " BANCOW/FUENTE SQL",
						"fileSystem": "oltp"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseBodega",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": "Product"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTables_DF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseBodega",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PTabla": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SqlAzure"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().PTabla",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedProductCategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ParaDepurar"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Ejercicios",
						"fileSystem": "oltp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "prueba.txt",
						"folderPath": "Ejercicios",
						"fileSystem": "oltp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SalesTaxRate.txt",
						"folderPath": " BANCOW/FUENTE SQL",
						"fileSystem": "oltp"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText_Destino')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Ejercicios",
						"fileSystem": "oltp"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelTablas_Fechas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Parquet"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Tablas SQL",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Tablas_SQL_FECHA.xlsx",
						"folderPath": " BANCOW/FUENTE SQL",
						"fileSystem": "oltp"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadADLGetdata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Carpeta": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Parquet"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().Carpeta",
							"type": "Expression"
						},
						"fileSystem": "oltp"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OdbcTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Odbc1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {
					"tableName": "\"BINOMICS\".\"VENTASD\""
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Xml1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ejercicios"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "prueba.xml",
						"folderPath": "Ejercicios",
						"fileSystem": "oltp"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DFlow_Variables')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText_Destino",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tRecibeIntAsString as string,\n\tRecibeFloatAsString as string,\n\tRecibeDateAsString as string,\n\tRecibeArrayAsString as string,\n\tRecibeArrayElementAsString as string,\n\tRecibeBoolAsString as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> source1\nsource1 derive(RecibeIntAsString = toInteger($RecibeIntAsString),\n\t\tRecibeFloatAsString = toFloat($RecibeFloatAsString),\n\t\tRecibeDateAsString = toDate($RecibeDateAsString),\n\t\tRecibeArrayAsString = $RecibeArrayAsString,\n\t\tRecibeArrayElementAsString = $RecibeArrayElementAsString,\n\t\tRecibeBoolAsString = toBoolean($RecibeBoolAsString)) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['Variables.txt'],\n\tpartitionBy('hash', 1),\n\tdateFormat:'yyyy-MM-dd',\n\ttimestampFormat:'yyyy-MM-dd',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText_Destino')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowVariableCategoria')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "LoadADL",
								"type": "DatasetReference"
							},
							"name": "LecturaADL"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableProduct",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "FilterCategoria"
						}
					],
					"script": "parameters{\n\tCategoria as string\n}\nsource(output(\n\t\tProductCategoryID as integer,\n\t\tName as string,\n\t\trowguid as string,\n\t\tModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet') ~> LecturaADL\nLecturaADL filter(ProductCategoryID==toInteger($Categoria)) ~> FilterCategoria\nFilterCategoria sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableProduct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowVariableColumnaDinamica')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "LoadADL",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTables_DF",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "parameters{\n\tCampo as string,\n\tFecha as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet') ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTables_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowVariableColumnaDinamica_BK')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "LoadADL",
								"type": "DatasetReference"
							},
							"name": "LecturaADL"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTables_DF",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Campo"
						}
					],
					"script": "parameters{\n\tCampo as string,\n\tFecha as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet') ~> LecturaADL\nLecturaADL filter(toTimestamp(byName($Campo))>= toTimestamp($Fecha)) ~> Campo\nCampo sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTables_DF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowVariableFecha')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "LoadADL",
								"type": "DatasetReference"
							},
							"name": "LecturaADL"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableProduct",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "FilterCategoria"
						}
					],
					"script": "parameters{\n\tFecha as string\n}\nsource(output(\n\t\tProductCategoryID as integer,\n\t\tName as string,\n\t\trowguid as string,\n\t\tModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet') ~> LecturaADL\nLecturaADL filter(ModifiedDate==toTimestamp($Fecha)) ~> FilterCategoria\nFilterCategoria sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableProduct')]"
			]
		}
	]
}